svg {
    display: block;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: auto;
    padding: 0.5rem;
  }

/* TOOLTIPS */
#countryTooltip,
#earthquakeTooltip {
  position: absolute;
  width: auto;
  height: auto;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#countryTooltip.hidden,
#earthquakeTooltip.hidden {
  display: none;
}

#countryTooltip p,
#earthquakeTooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 18px;
}

label, .label {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
}

/* Yearly earthquake chart/slider */
#yearlyEqContainer {
  margin: 1rem;
}

.slider-container {
  /* background-color: #f2f2f9; */
  margin: auto;
  display: block;
  top: -44.5px;
  left: 7px;
  width: 965px;
}

.slider {
  position: absolute;
  border: 1px solid #AAB;
  background: #BCE;
  height: 100%;
  width: 58px;
  top: 0px;
  cursor: move;
}

.slider .handle {
  position: absolute;
  height: 9px;
  width: 9px;
  border: 1px solid #AAB;
  background: #9AC;
}

.slider .EE {
  right: -4px;
  cursor: e-resize;
}

.slider .WW {
  cursor: w-resize;
  left: -4px;
}

.slider .EE, .slider .WW {
  top: 50%;
  margin-top: -4px;
}

#settingsContainer {
  display: flex;
}

button {
  vertical-align: top;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 3px;
  margin: 4px;
  /* display: inline-flex; */
  align-items: center;
  cursor: pointer;
  height: 38px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
}

button:hover {
 background-color: #ccc;
}

#magnitudeFilter {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}

.cbContainer {
  display: inline-flex;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 3px;
  margin: 4px;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.cbContainer input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  margin: 5px 5px 5px 0px;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.cbContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.cbContainer input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: relative;
  display: none;
}

/* Show the checkmark when checked */
.cbContainer input:checked ~ .checkmark:after {
  display: flex;
}

/* Style the checkmark/indicator */
.cbContainer .checkmark:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
